{% extends 'base.html' %}

{% block title %}Project info - Project Management{% endblock %}

{% block content %}
    <h1>Project: {{ project.name }}</h1>
    <p>Description: {{ project.description }}</p>
    <p>Due Date: {{ project.due_date }}</p>
    <h2>Members</h2>
    <ul>
        {% for member in members %}
            <li>{{ member[1] }}</li>
        {% endfor %}
    </ul>
    <h2>Tasks</h2>
    <ul>
        {% for task in tasks %}
            <li>{{ task.name }} (Due: {{ task.due_date }})
                <p>Description: {{ task.description }}</p>
            </li>
        {% endfor %}
    </ul>
    {% if 'user_id' in session %}
        <a href="{{ url_for('edit_project', project_id=project.id) }}">Edit Project</a>
    {% endif %}
{% endblock %}
